.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 300px; /* Adjust width as needed */
    
    padding: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group input {
    border-radius: 12px;
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border-color: grey;
  }
  
  .input-group button {
    width: 100%;
    padding: 12px;
    background-color: #1da1f2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 24px;
  }
  
  .forgot-signup {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
  }
  
  .forgot-signup a {
    text-decoration: none;
    color: #1da1f2;
  }
  
  .forgot-signup a:hover {
    text-decoration: underline;
  }
  

  h2{
    font-weight: 900;
    
  }