.signup-container {
    display: flex;
  
    height: 100vh;
    flex-direction: column;
   
  }

  .main{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .twitter-image {
    
    width: 100%; /* Adjust as needed */
    height: 100vh;
    background-image: url("../assets/twitter.png");
    background-size: cover;
    background-position: center;
  }
  
  .signup-content {
    width: 50%; /* Adjust as needed */
    padding: 20px;
    text-align: left;
    
  }
  
  .signup-content h2 {
    margin-top: 0;
  }
  
 .signup-content>button {
    width: 370px !important;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    border: 1px solid #f4f6f8 !important;
    border-radius: 24px;
    cursor: pointer;
    
    height: 40px;
    background: none !important;
    color:black !important;
  }


 
  
  .signup-content p {
    margin-top: 20px;
  }
  
  .signup-content a {
    color: #1da1f2;
    text-decoration: none;
  }
  
  .signup-content a:hover {
    text-decoration: underline;
  }
  

  h1{
    font-size: 60px;
  }


  h2{
    font-size: 40px;
  }


  .wrapper{
    display: flex;
    align-items: center;
flex-direction: row; 
justify-content: center; }


.policy{
    width:400px;
margin-top: 12px;
}

.policy span{
    color:#1da1f2;
}


.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
padding: 12px;
gap:12px;
    
  }
  
  .footer div {
  font-weight: 400;
    font-size: 14px;
  }
  
  